{% extends 'test.html.twig' %}


{% block content %}
{% block titrepage %}
    <h2> BEST ARTICLE </h2>
{% endblock %}

    <style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        td, th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #dddddd;
        }
    </style>
    <br><br>
    <div class="container">
    <div class="col-xs-12 col-sm-8 col-md-9">
        <input id="myInput" type="text" placeholder="Search..">
        <br>
        <br>
        <table>
            <thead>
            <tr>
                <th>ARTICLE</th>
                <th>LIKES</th>
                <th>CONSULTER ARTICLE</th>
            </tr>
            </thead>
            <tbody id="myTable">
            {% for i in m %}


            <tr>
                <td>   {% for membre in m2 %}

                    {% if membre.idPb == i.id %}
                        {{   membre.titre }}
                    {% endif %}
                    {% endfor %}
                </td>

                <td>{{ i.n }} </td>
                <td><a href="{{ path('publication_show',
                        {
                            'id':i.id
                        }
                    )
                    }}">CONSULTER</a> </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>



    </div>
    </div>
    <br><br><br><br><br><br><br><br><br>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script>
        $(document).ready(function(){
            $("#myInput").on("keyup", function() {
                var value = $(this).val().toLowerCase();
                $("#myTable tr").filter(function() {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                });
            });
        });
    </script>
{% endblock %}




